* {
    margin: 0;
    box-sizing: border-box;
   }
   body {
   background: url("https://cdn.imgchest.com/files/84apc3bmg4l.png"); /* replace yellow image web address FuMing emails you */
   opacity: .5;
   background-repeat: no-repeat;
   }
   .container {
   max-width: 1400px;
   flex-grow: 1;
   flex-wrap: wrap;
   display: flex;
   flex-shrink: 0;
   }


   .container > * {
   background-color: lightblue;
   font-size: 10rem;
    color: blue;
    border: 2px dashed blue;
   }
