* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://cdn.imgchest.com/files/6yxkcg9ek7w.png);
    background-repeat: no-repeat;
    max-width: 1284px;
    min-height: 1211px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
}
.container > * {
    border: 2px dashed blue;
}
.container{
    display: grid;
    grid-template-rows: 44px 125px 123px 448px 468px;
    grid-template-areas:
        "one one one"
        "two six seven"
        "three three three"
        "four four four"
        "five five five";
    grid-template-columns: 435px 497px 351px ;
}
.box1 {
    grid-area: one;
}

.box2 {
    grid-area: two;
}

.box3 {
    grid-area: three;
}

.box4 {
    grid-area: four;
}

.box5 {
    grid-area: five;
}

.box6 {
    grid-area: six;
}

.box7 {
    grid-area: seven;
}
